<!-- <h1>It Is For String Interpolation</h1>
<h1 class={{cssa}}>Hello This is My First React App</h1>
<h1>{{title}}</h1>
<h1>{{test()}}</h1>
{{a}}
<img src={{image}} alt="this is image" > 
<h1>String interpolation Ends</h1> -->

<!-- <h1>Class Binding Starts</h1>
<h1 [class]="{c1:applyc1,inactive:grayinactive}">This is Example for class binding for one way</h1>
<h1 [class]="['c1','applyc1','inactive','grayinactive']">This is Example for class binding in another way</h1>
<h1>Class Binding Ends</h1> -->

<!-- <h1>Style Binding Starts</h1>
<h1 [style]="myprop">Hai Hello This is example for style binding</h1>
<h1>Style Binding Ends</h1> -->

<!-- <h1>Event Binding Starts</h1>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">DEcrement</button>
Name<input type="text" (input)="display($event)">
<h1>{{counter}}</h1>
<p>{{name}}</p>
<h1>Event Binding Ends</h1> -->

<!-- <h1>two way data binding starts</h1>
Name:<input type="text" [(ngModel)]="city">
<h1>two way data binding ends</h1>
{{city}}
<button (click)="editname()">Update</button> -->

<!-- <h1>Input decorator example means parent to child communication</h1>
<app-header [childtitle]="ctitle"></app-header>
<app-header [d1]="data1" [d2]="data2"></app-header>
<app-header [d1]="data3" [d2]="data4"></app-header> -->

<!-- <h1>ngIf Starts</h1>
<h1 *ngIf="!data5;then var1 ; else var2"></h1>
<ng-template #var1>Loading</ng-template>
<div>{{data5}} hai hello namste</div>
<ng-template #var2>{{data5}} hai hello namste</ng-template>
<h1>ngIf Ends</h1> -->

<!-- <h1>ngFor starts</h1>
<table border="2">
    <tr *ngFor="let d of data6;index as i;first as f;last as l;even as e;odd as o">
        <td>{{d}}</td>
        <td>{{i}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
    </tr>
</table>
<div>
    <table border="2">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>age</td>
            <td>branch</td>
        </tr>
        <tr *ngFor="let j of data7">
            <td>{{j.id}}</td>
            <td>{{j.name}}</td>
            <td>{{j.age}}</td>
            <td>{{j.branch}}</td>
        </tr>
        
    </table>
</div>
<h1>ngFor ends</h1> -->
<!-- <h1>Switch case starts</h1>
Enter your option:<input type="text" [(ngModel)]="op">
<div [ngSwitch]="op">
    <div *ngSwitchCase="'+'">{{num1+num2}}</div>
    <div *ngSwitchCase="'-'">{{num1-num2}}</div>
    <div *ngSwitchCase="'*'">{{num1*num2}}</div>
    <div *ngSwitchCase="'/'">{{num1/num2}}</div>
    <div *ngSwitchDefault>None Of The Above option</div>
</div>
<h1>switch case ends</h1> -->
<h1>Child to Parent Communication using Template Reference Varaible</h1>
<app-header #child ></app-header>
{{title}}<br>
{{child.title}}
